
<!-- start foot.html -->



  <footer class="page-footer blue lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">

        </div>
        

        </div>
      </div>
    </div>
    <div class="footer-copyright blue lighten-1">
      <div class="container">
      Made by Shane Brown</a>
      </div>
    </div>
  </footer>




<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- inject:js -->
<!-- endinject -->

<script>
$(document).ready(function(){
 // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
 $('.modal-trigger').leanModal();
});
</script>
</body>
</html>

<!-- end foot.html -->
